@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat' !important;
}

body {
  margin: 0;
  background-color: #151515;
  color: #fff;
  padding: 20px;
}

.hero {
  height: calc(100vh - 20px);
}

h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
}

p {
  font-size:1.2rem;
  line-height: 1.8rem;
}

::-webkit-scrollbar {
    display: none;
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #222222;
  width: 100vw;
  height: 200vh;
  margin-left: -50vw;
  margin-top: -110vh;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: #2f2f2f;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#151515, 1), rgba(#def, 0) 80%, rgba(#222222, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.item {
  padding-top: 20px;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

button {
  background-color: #80a0e0;
  border-radius: 50px;
  padding: 10px 40px;
  border:none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

#mas {
  padding-bottom: 1px;
  border-bottom: 1px solid #fff;
  line-height: 30px;
}


.project:nth-child(even) {
  display:flex;
  justify-content: flex-start;
}

.project:nth-child(odd) {
  display:flex;
  justify-content: flex-end;
}

.project:nth-child(n+2) {
  margin-top: -20rem;
}
